{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": true
    }]
  ],

  "plugins": [
    "syntax-dynamic-import",
    "transform-async-generator-functions",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ]
}
