- if current_user.contexts.any?
  = render 'contexts/choose', contexts: contexts, task: task
- if task
  = render task
  #edit-form
    = render 'tasks/form', task_form: task, namespace: 'edit', contexts: contexts
#new-form
  = render 'tasks/form', task_form: task_form, namespace: 'new', contexts: contexts
