.row-fluid
  %h2#task{ class: task_classes(task) }
    = react_component('Questlog.DeleteButton', id: @task.id)
    %span.title{ title: "skip count: #{task.skip_count}" }= task.title
    - if task.repeat?
      %i.fa.fa-repeat
    %i.fa.fa-arrow-down#edit-task{ title: 'edit task' }
.row-fluid#buttons
  .span6
    .row-fluid
      = react_component('Questlog.DoneButton', id: @task.id)
  .span6
    .row-fluid
      = react_component('Questlog.PostponeButton', id: @task.id)
%hr
