:ruby
  component_name =
    case params[:id]
    when 'root', 'leaf'
      'tasks'
    when 'tree'
      'treeTasks'
    else
      'showTask'
    end
  data = { controller: 'react', react_component_name_value: component_name }

#app-base{ data: data }
