= render current_user.mode,
  task: @task,
  new_task: @new_task,
  contexts: @contexts

%p
  = link_to('All my tasks', tasks_path)
  %br
  Try adding a tag using '@', for example: <strong>@at-home<strong>.
