= render current_user.mode,
  task: @task,
  task_form: @task_form,
  contexts: @contexts

%p
  = link_to('All my tasks', tasks_path)
  %br
  Try adding a tag using '@', for example: <strong>@home<strong>.
