version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.5.1
  node: circleci/node@7.1.0

executors:
  ruby_image:
    docker:
      - image: cimg/ruby:4.0.1-browsers
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          PGUSER: postgres
          RAILS_ENV: test
      - image: cimg/postgres:10.18
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: app_test
          POSTGRES_PASSWORD:

commands:
  setup_environment:
    steps:
      - checkout
      - browser-tools/install-browser-tools:
          install-chrome: false
          install-chromedriver: false

      - node/install:
          node-version: 25.6.0
          install-pnpm: true
          pnpm-version: 10.26.1

      - run:
          name: Which versions?
          command: |
            bundle -v
            node --version
            pnpm --version

      # https://circleci.com/docs/2.0/caching/
      - restore_cache:
          keys:
            - questlog-bundle-v1-{{ checksum "Gemfile.lock" }}
            - questlog-bundle-v1-

      - run: # Install Ruby dependencies
          name: Bundle Install
          command: |
            bundle config set --local frozen 'true'
            bundle install
            bundle clean

      - save_cache:
          key: questlog-bundle-v1-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - restore_cache:
          keys:
            - questlog-pnpm-{{ checksum "pnpm-lock.yaml" }}
            - questlog-pnpm-

      - run:
          name: pnpm Install
          command: pnpm install --frozen-lockfile

      - save_cache:
          key: questlog-pnpm-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - node_modules

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Database setup
          command: |
            bin/rails db:create
            bin/rails db:schema:load

jobs:
  lints:
    executor: ruby_image
    steps:
      - setup_environment
      - run:
          name: Lints
          command: pnpm lints

  javascript_tests:
    executor: ruby_image
    steps:
      - setup_environment
      - run:
          name: JavaScript tests
          command: pnpm vitest

  unit_tests:
    executor: ruby_image
    steps:
      - setup_environment
      - run:
          name: Build CSS
          command: pnpm build:css
      - run:
          name: Run unit tests
          command: |
            bundle exec rspec --exclude-pattern "**/features/*_spec.rb"
            # bundle exec rspec --profile 10 \
            #                   --format RspecJunitFormatter \
            #                   --out test_results/rspec.xml \
            #                   --format progress \
            #                   $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)

      - store_test_results: # https://circleci.com/docs/2.0/collect-test-data/
          path: test_results

  feature_tests:
    executor: ruby_image
    steps:
      - setup_environment
      - run:
          name: Build CSS
          command: pnpm build:css
      - run:
          name: Run feature tests
          command: COVERAGE=false DISABLE_CAPYBARA_SELENIUM_OPTIMIZATIONS=true bundle exec rspec -b spec/features

workflows:
  version: 2
  build_and_test:
    jobs:
      - lints
      - javascript_tests
      - unit_tests
      - feature_tests
