.row-fluid
  = form_for(quickie, method: :delete, html: { id: 'delete-form' }) do
    %h2#quickie
      %i.icon-remove
      = quickie.title
      %i.icon-arrow-down#edit-arrow
.row-fluid#buttons
  .span6
    .row-fluid
      = button_to('Done! Give me another!', quickie_path(quickie, quickie: { done: true }), method: :put, class: 'btn btn-primary btn-large btn-block')
  .span6
    .row-fluid
      = button_to('Skip this one for now.', quickie_path(quickie, quickie: { skip: true }), method: :put, class: 'btn btn-info btn-large btn-block')
%hr
