- if current_user.contexts.any?
  = render 'contexts/simple/choose', contexts: contexts, quickie: quickie
- if quickie
  = render 'quickies/simple/quickie', quickie: quickie
#new-form
  = render 'quickies/simple/form', quickie: new_quickie, namespace: 'new', contexts: contexts
