%h2 Current Quickies

%ul
  - @quickies.each do |quickie|
    = render 'line_item', quickie: quickie

%h2 Pending Quickies

%ul
  - @pending_quickies.each do |quickie|
    = render 'line_item', quickie: quickie
