%h2 Current Quickies

%ul
  - @quickies.each do |quickie|
    %li
      = quickie.title
      - if quickie.repeat
        %i.icon-refresh
      = link_to('Destroy', quickie_path(quickie), method: :delete)

%h2 Pending Quickies

%ul
  - @pending_quickies.each do |quickie|
    %li
      = quickie.title
      - if quickie.repeat
        %i.icon-refresh
      = link_to('Destroy', quickie_path(quickie), method: :delete)
