= render current_user.mode,
  quickie: @quickie,
  quickie_form: @quickie_form,
  contexts: @contexts

%p
  = link_to('All my quickies', quickies_path)
  %br
  Try adding a tag using '@', for example: <strong>@home<strong>.
