Editing tag #{@tag.name}
%br
= link_to("Back to tags list", tags_path)
%h2 Rules
Tag will include all tasks that match one or more of the following rules:
- submit_action = "submit->tag-rules#validateAndSave"
- form_data = { controller: "tag-rules", action: submit_action }
= form_with(url: tag_path(@tag.id), method: :patch, data: form_data) do |form|
  #app-base{ data: connected_react_data("editTag") }
  = form.submit("Save Tag", class: "btn btn-success btn-block")
