.tag-buttons
  = react_component('Questlog.TagButton', tag: current_user, current: false)
  - current_ids = task ? task.contexts.pluck(:id) : []
  - contexts.each do |context|
    - current = current_ids.include?(context.id)
    = react_component('Questlog.TagButton', tag: context, current: current)
