$brand-primary: #1565c0;

$color-critical: red;

$bg-task-display: #e9e9e9;

$color-postpone-btn: black;

$bg-priority-1: #90caf9;
$bg-priority-2: #bbdefb;
$bg-priority-3: #e3f2fd;

$color-priority-1: #0d47a1;
$color-priority-2: #1565c0;
$color-priority-3: #1976d2;

$color-table-border: #b6b6b6;
$color-table-header: #e9e9e9;
$bg-table-marker: #fcfcfc;
