$color-critical: red;

$bg-task-display: #e9eeee;
$color-task-display-border: #aaa;

$color-postpone-btn: black;

$bg-priority-1: #e9bbbb;
$bg-priority-2: #e9cccc;
$bg-priority-3: #e9dddd;

$color-priority-1: #c93333;
$color-priority-2: #b93333;
$color-priority-3: #913333;

$color-table-border: #b6b6b6;
$bg-table-marker: #fcfcfc;
