$brand-primary: #1565C0;

$color-critical: red;

$bg-task-display: #e9eeee;
$color-task-display-border: #aaa;

$color-postpone-btn: black;

$bg-priority-1: #90CAF9;
$bg-priority-2: #BBDEFB;
$bg-priority-3: #E3F2FD;

$color-priority-1: #0D47A1;
$color-priority-2: #1565C0;
$color-priority-3: #1976D2;

$color-table-border: #b6b6b6;
$bg-table-marker: #fcfcfc;
