@font-face {
  font-family: 'RobotoCondensed';
  src: font-url('RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoBlack';
  src: font-url('Roboto-Black.ttf') format('truetype');
}
