@font-face {
  font-family: RobotoCondensed;
  src: url('../../../../vendor/assets/fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: RobotoBlack;
  src: url('../../../../vendor/assets/fonts/Roboto-Black.ttf') format('truetype');
}
