@font-face {
  font-family: RobotoCondensed;
  src: url('/fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: RobotoBlack;
  src: url('/fonts/Roboto-Black.ttf') format('truetype');
}
