@import 'normalize.css/normalize';
@import './variables/colors';
@import './variables/fonts';

$icon-font-path: '/fonts/bootstrap/';

@import 'bootstrap-sass/assets/stylesheets/bootstrap';

$fa-font-path: '/fonts/fontawesome';

@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import './brand';
@import './common';
@import './dialog';
@import './filters';
@import './focus';
@import './sidebar';
@import './table';
@import './tag';
@import './timeframe';
@import './tree';
