.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

#quickie {
  background-color: #E9EEEE;
  border-radius: 6px;
  border: 2px solid #AAAAAA;

  i.icon-remove {
    float: left;
    padding-left: 8px;
    padding-top: 4px;
  }

  i.icon-arrow-down, i.icon-arrow-up {
    padding-right: 8px;
    padding-top: 4px;
    float: right;
  }
}

body {
  text-align: center;
  position: relative;
}

input {
  font-weight: bold;
}

h1 {
  font-size: 60px;
  display:inline-block;
  font-family: Times, serif;
}

h3 {
  line-height: 25px;
}

.contexts {
  margin-top: 10px;
}

.span2 > select {
  width: 100%;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

#edit-form {
  display: none;
}

.current {
  font-weight: bold;
}

.over_skipped {
  .title {
    color: red;
  }
}
