.navbar {
  text-align: center;
}

.flashes {
  text-align: center;
}

.sign-up-form {
  text-align: center;
}

.login-form {
  text-align: center;
}

.footer {
  text-align: center;
}

.timeframes-header {
  text-align: center;
}

.task-display {
  text-align: center;
}

.task-footer {
  text-align: center;
}

.tag-buttons {
  text-align: center;
}

.task-list {
  width: 100%;
}

.task-list__header-row {
  background-color: #E9E9E9;
}

.task-list__row--pending {
  opacity: 0.5;
}

.task-list__row--dragging {
  opacity: 0;
}

.task-list__action {
  font-family: 'RobotoCondensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.task-list__row--priority-1 {
  background-color: $bg-priority-1;
}

.task-list__row--priority-2 {
  background-color: $bg-priority-2;
}

.task-list__row--priority-3 {
  background-color: $bg-priority-3;
}

.tag-buttons {
  div {
    display: inline-block;
    padding: 3px;
  }
}

.timeframe-select {
  width: 130px;
}

.danger {
  color: $color-critical;
}

.main-button {
  > div {
    padding: 3px;
  }
}

.btn-link {
  padding: 0;
}

.flashes {
  height: 30px;
}

.task-display {
  background-color: $bg-task-display;
  border: 2px solid $color-task-display-border;
  border-radius: 6px;
  font-size: 31.5px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 75px;
  padding-left: 0;
  padding-right: 0;

  .fa-repeat {
    font-size: 25px;
  }

  > table {
    height: 90px;
    text-align: middle;
    width: 100%;
  }

  .timeframe {
    font-size: 10px;
    margin-left: -11px;
    margin-top: -20px;
    position: absolute;
  }

  .title {
    width: 100%;
  }

  .emblems {
    margin: 10px;
  }

  &.priority-1 {
    background-color: $bg-priority-1;
  }

  &.priority-2 {
    background-color: $bg-priority-2;
  }

  &.priority-3 {
    background-color: $bg-priority-3;
  }
}

ul {
  list-style: none;
}

.task-input {
  width: 100%;
}

.postpone-button {
  padding: 0;

  form,
  label {
    margin: 0;
  }

  > select {
    color: $color-postpone-btn;
    width: 150px;
  }

  label {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 19px;
  }
}

html,
body {
  height: 100%;
  background-color: #E0E0E0;
}

.content {
  background-color: white;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-height: 100%;
}

h1 {
  display: inline-block;
  font-family: Times, serif;
  font-size: 60px;
}

h3 {
  line-height: 25px;
}

.tags {
  margin-top: 10px;
}

.disabled {
  cursor: default;
  pointer-events: none;
}

.edit-form {
  display: none;
}

.current {
  font-weight: bold;
}

.over-skipped {
  .title {
    color: $color-critical;
  }
}

.btn {
  &.priority-1-btn {
    color: $color-priority-1;
  }

  &.priority-2-btn {
    color: $color-priority-2;
  }

  &.priority-3-btn {
    color: $color-priority-3;
  }
}

.ReactModal__Body--open {
  overflow: hidden; // prevent scrolling on body when modal is open
}

.ReactModal__Content--after-open {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.modal__close-button {
  @extend .btn-link;
  float: right;
}

.modal__cell {
  border: 1px solid $color-table-border;
}

.modal__marker {
  background-color: $bg-table-marker;
}
