.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

#task {
  background-color: #E9EEEE;
  border-radius: 6px;
  border: 2px solid #AAAAAA;

  i.fa-times {
    float: left;
    padding-left: 8px;
    padding-top: 4px;
  }

  i.fa-arrow-down, i.fa-arrow-up {
    padding-right: 8px;
    padding-top: 4px;
    float: right;
  }
}

#postpone {
  padding: 0;

  // to pad out div added by react. Can probably remove this at some point...
  div {
    display: inline-block;
    vertical-align: top;
  }

  form, label {
    margin: 0;
  }

  select {
    width: 150px;
    padding: 0;
    vertical-align: top;
    margin: 9px 0 8px 0;
    height: 25px;
    font-weight: bold;
  }

  label {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding: 11px 19px;
  }
}

body {
  text-align: center;
  position: relative;
}

input {
  font-weight: bold;
}

h1 {
  font-size: 60px;
  display:inline-block;
  font-family: Times, serif;
}

h3 {
  line-height: 25px;
}

.contexts {
  margin-top: 10px;
}

.span2 > select {
  width: 100%;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

#edit-form {
  display: none;
}

.current {
  font-weight: bold;
}

.over_skipped {
  .title {
    color: red;
  }
}

#task.priority-1 {
  background-color: #E9BBBB;
}

#task.priority-2 {
  background-color: #E9CCCC;
}

#task.priority-3 {
  background-color: #E9DDDD;
}

#tips-modal {

  table td {
    border: 1px solid #B6B6B6;
  }

  .modal-body {
    max-height: 800px;
  }

  .marker {
    background-color: #fcfcfc;
  }
}
