.ReactModal__Body--open {
  overflow: hidden; // prevent scrolling on body when modal is open
}

.ReactModal__Content--after-open {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.ReactModal__Overlay {
  z-index: 1000;
}

.modal__close-button {

  @extend .btn-link;

  float: right;
}

.modal__cell {
  border: 1px solid $color-table-border;
}

.modal__marker {
  background-color: $bg-table-marker;
}
