.sidebar {
  position: fixed;
  background-color: #eee;
  overflow: hidden;
  padding-left: 20px;
  z-index: 1;
  transition: all 0.25s ease-in-out;
}

.sidebar--hidden {
  left: 15px;
  top: 15px;
  height: 50px;
  width: 50px;
}

.sidebar--visible {
  left: 0;
  top: 0;
  height: 100vh;
  width: 250px;

}

.sidebar__header {
  font-family: 'RobotoCondensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sidebar__divider {
  border-color: black;
  margin-right: 20px;
}

.sidebar__toggle {
  font-size: 30px;
  float: right;
  background: transparent;
  border: none;
  color: $brand-primary;

  &:focus {
    outline: 0;
  }
}

.sidebar__toggle--hidden {
  width: 50px;
  height: 50px;
}

.sidebar__toggle--visible {
  padding-right: 15px;
}

.sidebar__link {
  &:hover {
    color: $brand-primary;
  }
  width: 100%;
  font-family: 'RobotoBlack', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
}

.sidebar__link--active {
  ::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid $brand-primary;
    margin: 5px;
    position: absolute;
    right: 10px;
  }
}

@media (max-width: 600px) {
  .sidebar--visible {
    width: 100vw;
  }
}
