.sidebar {
  background-color: #eee;
  overflow: hidden;
  padding-left: 20px;
  position: fixed;
  transition: all 0.25s ease-in-out;
  z-index: 1;
}

.sidebar--hidden {
  height: 50px;
  left: 15px;
  top: 15px;
  width: 50px;
}

.sidebar--visible {
  height: 100vh;
  left: 0;
  top: 0;
  width: 250px;
}

.sidebar__header {
  font-family: RobotoCondensed, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.sidebar__divider {
  border-color: black;
  margin-right: 20px;
}

.sidebar__toggle {
  background: transparent;
  border: none;
  color: $brand-primary;
  float: right;
  font-size: 30px;

  &:focus {
    outline: 0;
  }
}

.sidebar__toggle--hidden {
  height: 50px;
  width: 50px;
}

.sidebar__toggle--visible {
  padding-right: 15px;
}

.sidebar__link {
  font-family: RobotoBlack, Helvetica Neue, Helvetica, Arial, sans-serif;
  white-space: nowrap;
  width: 100%;

  &:hover {
    color: $brand-primary;
  }
}

.sidebar__link--active {
  :after {
    border-bottom: 12px solid transparent;
    border-right: 12px solid $brand-primary;
    border-top: 12px solid transparent;
    content: '';
    height: 0;
    margin: 5px;
    position: absolute;
    right: 10px;
    width: 0;
  }
}

@media (max-width: 600px) {
  .sidebar--visible {
    width: 100vw;
  }
}

@media (min-width: 600px) and (max-width: 1300px) {
  .content.sidebar-open {
    margin-left: 250px;
  }
}
