.tag-row {
  border: 1px solid;
  text-align: left;

  .edit-button {
    float: right;
  }
}

.tag-buttons {
  text-align: center;

  div {
    display: inline-block;
    padding: 3px;
  }
}

.current {
  font-weight: bold;
}
