.task-tree {
  padding-left: 15px;
}

.task-item {
  padding-top: 5px;
}

.task-item__title {
  border: 3px solid transparent;
  border-radius: 3px;
  padding: 2px;
  background-color: $bg-task-display;
}

.task-item__title--priority-1 {
  background-color: $bg-priority-1;
}

.task-item__title--priority-2 {
  background-color: $bg-priority-2;
}

.task-item__title--priority-3 {
  background-color: $bg-priority-3;
}

.task-item__checkbox {
  margin-top: 2px;
  margin-bottom: 2px;
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  position: relative;
  margin-right: 5px;
}

.task-item__checkbox-display {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: $bg-task-display;

  // checkmark
  &:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 6px;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
  }
}

.task-item__checkbox-display--enabled {
  &:hover:after {
    border-color: black;
    opacity: 0.3;
  }
}

.task-item__checkbox-display--checked {
  background: $brand-primary;
  &:after {
    opacity: 1;
  }
}

.task-item__checkbox-actual {
  visibility: hidden;
}
